@use './styles/partials/typography' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  background: #FFFFFF;
  font-family: 'Beaufort';
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

